##DATA GATHERING
**This is the process of getting a dataset for a project work.**

I generated a dataset in this notebook for the purpose of a project work using the faker library in python.

**Below I'm installing the faker library.**

In [1]:
# I'm installing the faker library using pip.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.10/dist-packages (18.9.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)

**I will be importing the necessary modules needed to generate the data.**

In [2]:
# Importing the necessary modules
from faker import Faker 
import csv
import pandas as pd

**I'll be defining the faker library as fake for easy use**

In [3]:
# Defining faker library as fake
fake = Faker()

**Below I'll be writing the code to generate the dataset and I'll be defining the behavior of the datasets.**

In [4]:
# Generating the dataset and naming it as meal data.
with open("meal_data.csv", "w", newline= "") as file:
  writer = csv.writer(file)

# Defining the row.
  writer.writerow(
      [
      "Customer_id", "Meal_id", "Num_orders", "Vendor", "Gender", "Ratings", "Cuisine", "Beverages", "Order_history", "Price", "Location"
      ]
      )
  
# Defining the range and column of the dataset.
  for _ in range(100000):
    Customer_id = fake.uuid4()
    Meal_id = fake.random_int(min=1, max=500)
    Num_orders = fake.random_int(min=1, max=50)
    Vendor = fake.random_element(["Shiro", "Hard Rock", "Ocean Basket", "R.S.V.P.", "Izanagi"])
    Gender = fake.random_element(["Male", "Female"])
    Ratings = fake.random_int(min=1, max=5)
    Cuisine = fake.random_element(["Staple Food", "Soups / Stews", "Salad / Side Dishes", "Meat", "Street Food / Snacks"])
    Beverages = fake.random_element(["Water", "Milk", "Carbonated drinks", "Juice", "Wine"])
    Order_history = fake.random_int(min=1, max=50)
    Price = fake.random_int(min=500, max=10000)
    Location = fake.random_element(["Island", "Mainland"])

    writer.writerow([
        Customer_id, Meal_id, Num_orders, Vendor, Gender, Ratings, Cuisine, Beverages, Order_history, Price, Location
    ])

**I want to define the generated csv dataset and put it into a pandas dataframe**

In [5]:
# Defining the generated csv into pandas
df = pd.read_csv("meal_data.csv")

# I'm checking the shape of the dataset
print(f"Shape of data: {df.shape}\n")

# I'm viewing the first five rows
df.head()

Shape of data: (100000, 11)

,Customer_id,Meal_id,Num_orders,Vendor,Gender,Ratings,Cuisine,Beverages,Order_history,Price,Location
0,0948f87d-5b07-417d-9460-f575f5bf4499,174,15,Ocean Basket,Female,3,Soups / Stews,Wine,10,9162,Island
1,7ac1b983-ec2e-46d2-8942-1dca80aa9187,367,33,Ocean Basket,Male,4,Soups / Stews,Wine,46,2479,Island
2,1cd13261-e4ac-451b-bbd9-8e7839e1152b,294,50,Ocean Basket,Female,5,Salad / Side Dishes,Carbonated drinks,30,4026,Mainland
3,8f0130ae-3c3d-45d7-a890-a409053e35a2,320,13,Izanagi,Male,2,Soups / Stews,Juice,50,2333,Island
4,824f5e51-e1c8-425d-94d5-0bbbae5e71b3,52,2,R.S.V.P.,Female,2,Street Food / Snacks,Water,19,8610,Mainland

**Above in the dataset there are 100,000 rows and 11 columns in the dataframe.**